html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	font-size: 100%;
	font-family: "Varela Round", Arial, sans-serif;
}

.upper-container {
	height: 8em;
}

img{
	width: 30%;
	display: block;

}

.header{
	margin: 0;
}

.inner-container {
	width: 43%;
	padding: 1.5em;
	float: left;
	height: 4.5em;
	margin: 0;
}

hr {
 	border:0.5em solid #ee8833;
 	position: relative;
 	clear: both;
 	margin: 0;

 }

.search{
	font-size: 0.85em;
	height: 3em;
	float: right;
	margin-top: 1.5em;
}
#search-btn {
	background-color: #ee8833;
	color: white;
	border: 0;	
    width: 5em;
    border-bottom-right-radius: 0.5em;
    border-top-right-radius: 0.5em;
}
#search-btn:before {
	content: "Find it!";
}
#searchbar {
	border: 0.15em solid #ee8833;
    width: 16em;
    border-bottom-left-radius: 0.5em;
    border-top-left-radius: 0.5em;
}

.places{
	width: 27%;
	float: left;
	position: relative;
	overflow: scroll;
	height: 81vh;
}
.place, .tel {
	list-style: none;
    text-decoration: none;
    color: #ee8833;
}
.place {
    display: block;
    padding: 1em 0 0 2em;
}

#map {
	height: 81vh;
	width: 73%;
	float: left;
	position: relative;
}

@media screen and (max-width: 900px){
	body{
		font-size: 62.5%;
	}
	.inner-container{
		float: left;
		width: 39%;	
		margin-right: 0.5em;
	}
	#map {
		height: 81vh;
	}
	#searchbar {
		width:13em;
	}
	#search-btn {
		width: 3em;
		padding-top: 0.75em;
}
@media all and (max-width: 600px){
	html{
		font-size: 62.5%;
	}
	.upper-container {
		height: 18em;
	}
	.inner-container{
		float: left;
		width: 50%;	
		font-size: 2em;
		margin: 0;
		padding: 0;
	}
	#searchbar {
		width: 7em;
	}
	#foursquare {
		width: 75%;
		margin-left: -11;
	}
	#search-btn:before {
		content: url('../assets/Magnifying_glass.svg');
		vertical-align: middle;

	}
}

@media all and (min-width: 601px) and (max-width: 980px) {
	html{
		font-size: 100%;
	}
	.inner-container{
		float: left;
		width: 38%;	
	}
	#foursquare {
		width: 50%;
		margin-left: -11;
	}
	#search-btn:before {
		content: url('../assets/Magnifying_glass.svg');
		vertical-align: middle;

	}

}
