html, body, .outer-container {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	font-size: 100%;
	font-family: "Varela Round", Arial, sans-serif;
}
img{
	width: 24%;
	vertical-align: middle;
	display: block;
}

.header{
	margin: 0;
}

.inner-container {
	width: 45%;
	padding: 1.5em;
	float: left;
	height: 4.5em;
	margin: 0;
}

hr {
 	border:0.5em solid #ee8833;
 	position: relative;
 	clear: both;
 	margin: 0;

 }

.search{
	font-size: 0.85em;
	height: 2.75em;
	float: right;
	margin-top: 1.5em;
}
#search-btn {
	background-color: #ee8833;
	color: white;
	border: 0;	
    width: 5em;
    border-bottom-right-radius: 0.5em;
    border-top-right-radius: 0.5em;
}
#searchbar {
	border: 0.15em solid #ee8833;
    width: 16em;
    border-bottom-left-radius: 0.5em;
    border-top-left-radius: 0.5em;
}

.places{
	width: 27%;
	float: left;
	position: relative;
	overflow: scroll;
	height: 81vh;
}
.place, .tel {
	list-style: none;
    text-decoration: none;
    color: #ee8833;
}
.place {
    display: block;
    padding: 1em 0 0 2em;
}

#map {
	height: 81vh;
	width: 73%;
	float: left;
	position: relative;
}

@media all and (max-width: 960px){
	html{
		font-size: 75%;
	}
	.inner-container{
		float: left;
		width: 44.5%;	
	}
		#map {
		height: 89vh;
	}
}
