html, 
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	font-family: "Varela Round", Arial, sans-serif;
}

html, 
body,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}

.lower-container {
	background-color: #ee8833;
	height: 87%;
}

.upper-container {
	height: 13%;
}

.fa-cog {
	color: #ee8833;
}

div>span, 
h5>p, 
h5 {
	font-size: 0.75rem;
	margin: 0;
}

hr {
 	border:0.5rem solid #ee8833;
 	margin: 0;
 	position: absolute;
 	width: 100%;
 	z-index: 1;
 }

.search {
	height: 3rem;
	width: 30%;
	float: left;
}
button {
	background-color: #ee8833;
	color: white;
	border: 0;
	width: 20%;	
	line-height: 3rem;
	float: left;
}

.searchbar {
    border: 0.15em solid #ee8833;
    margin: 0;
    padding: 0;
    width: 80%;
    height: 3rem;
    float: left;
}
.places {
	margin: 0;
	overflow: scroll;
	color: #fff;
	background-color: #ee8833;
	padding: 1.5em;
}
.places-menu {
	overflow: scroll;
	width: 30%;
}

.foursquare {
	max-width: 10rem;
}

li {
	list-style: none;
}

.tel {
	list-style: none;
	text-decoration: none;
	color: #ee8833;
}

#map {
	height: 100%;
	width: 70%;
	float: left;
	margin: 0;
}

button:before {
	content: '';
}

.header {
	margin-left: 2rem;
}

@media all and (max-width: 860px){
	html {
		font-size: 100%;
	}

	.header {
		font-size: 0.75em;
	}

	.foursquare {
		width: 30%;
	}
	.places-menu {
		z-index: 100;
		width: 100%;
		margin: 0;
		padding: 0;
		overflow: scroll;
		position: absolute;
		bottom: 0;
		height: 6em;
	}
	
	.upper-container {
		width: 100%;
		height: 8%;
	}
	
	.lower-container {
		width: 100%;
		height: 92%;
	}

	#map {
		width: 100%;
	}

	.searchbar {
		width: 95%;
		margin: 0; 
		bottom: 0;
		height: 3rem;
	}

	.search {
		margin: 0;
		display: flex;
		padding: 0;
		width: 100%;
		justify-content: space-between;
		align-items: center;
		height: inherit;
		display: none;
		
	}
	
	button:before {
		content: url('../assets/Magnifying_glass.svg');
	}
	
	input[type ="text"] {
		font-size: 4rem;
	}
}
