html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-size: 62.5%;
}
#map {
	height: 100%;
	z-index: 0;
}
#nav {
	z-index: 1000;
	float: clear;
	width: 20rem;
	background-color: #000;
	opacity: 0.5;
}
#nav:hover{
	opacity: 1;
}
